.Nav {
  width: 100dvw;
  height: 25dvh;
  padding-left: 20px;
  background-image: url(/emoji-glyph-nav-BG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: dimgray;
}
.emoji-picker {
  margin-right: 20px;
  margin-left: 100px;
}

#emoji-list {
  list-style-type: none;
  padding: 20px;
  margin-left: 20px;
  border-radius: 30px;
  font-size: xx-large;
  max-height: 350px;
  min-width: 50dvw;
  overflow-y: auto;
  background-color: dimgrey;
}
.mainHolder {
  display: flex;
  margin-left: 20px;
}
